@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Alexandria:wght@100..900&family=Anta&family=Basic&family=Baumans&family=Doto:wght@100..900&family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marmelad&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 10px 30px 0px 120px;
    padding-top: 10px;
    width: 455px;
    height: 300px;
    background-color: hsla(0, 0%, 100%, 0.34);
    box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.timerHeading {
    margin: 1rem;
    color: #000;
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: bold;
}

.btnContainer {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    margin-top: 1rem;

}

.decrBtn {
    background-color: #89CFF0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-family: "Raleway";
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    border: none;
    cursor: pointer;

}

.decrBtn:hover {
    background-color: #89cff0b3;

}

.time {
    font-family: "Montserrat", serif;
    font-size: 3rem;
    margin-bottom: 0.8rem;
    font-weight: 300;
    text-align: center;
}

.incBtn {
    background-color: #FF6F61;
    color: #f3eded;
    border-radius: 50%;
    font-size: 3rem;
    width: 70px;
    height: 70px;
    font-family: "Raleway";
    font-weight: 100;
    text-align: center;
    padding-bottom: 20px;
    border: none;
    cursor: pointer;
}

.incBtn:hover {
    background-color: #ff6e61c4;

}

.startBtn {
    background-color: hsla(51, 100%, 50%, 0.603);
    width: 395px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

.startBtn:hover {
    background-color: hsla(51, 100%, 50%, 0.603);
    box-shadow: 0px 5px 20px hsla(51, 100%, 50%, 0.382);
    transform: translateY(-7px);



}