* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background: linear-gradient(180deg, #e4d6c6 0%, #f6ebe8 100%);
    color: #333;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccd5ae;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 180px;
    height: auto;
    display: block;
    margin-top: 25px 5px 10px auto;
    z-index: 5;
}

.nav {
    flex: 1;
    display: flex;
    gap: 10px;
}

.nav ul {
    text-align: center;
    list-style: none;
    display: flex;
    gap: 40px;
    padding-left: 190px;
    margin-top: 20px;
}

.nav ul li {
    margin: 0 0px;
    width: 110px;

}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s
}

.nav a:hover {
    color: #6d8e00;
}

.user {
    width: 40px;
    height: 40px;
    margin-right: 200px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background: #333;
}

.nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #ccd5ae;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.nav.active ul {
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

@media (max-width:1235px) {
    .nav {
        gap: 10px;
    }

    .nav ul {
        gap: 50px;
        padding-left: 200px;
    }

    .user {
        margin-left: 35px;
    }
}

@media (max-width: 1000px) {
    .nav {
        gap: 5px;
    }

    .nav ul {
        gap: 20px;
        padding-left: 100px;
    }

    .user {
        margin-left: 40px;
    }

}


@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .nav {
        display: none;
    }

    .nav.active {
        display: flex;
        width: 100%;
        padding: 10px 20px;
    }

    .nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    .user {
        margin-left: 35px;
    }

    .form-container {
        width: 90%;
    }

    .nav ul li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .nav.active a {
        font-size: 16px;
        padding: 8px 15px;
    }

    .nav.active ul {
        gap: 10px;
    }

    .user {
        margin-left: 20px;
    }
}