@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Reem+Kufi:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 70px 0 10px 100px;
    padding: 10px 5px;
    width: 1300px;
    height: 680px;
    background-color: hsla(0, 0%, 100%, 0.34);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* overflow-y: scroll; */

}


.journalTitle {
    font-family: 'Afacad', sans-serif;
    font-size: 2rem;
    color: black;
    width: 90%;
}

.journalForm {
    padding: 5px 15px 10px 75px;
}

.journalInput {
    margin-top: 15px;
    width: 90%;
}

.journalDate {
    width: 44.5%;
    margin-right: 10px;
}

.journalTime {
    width: 44.5%;
}

.journalArea {
    width: 90%;
    min-height: 450px;
    max-height: 450px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.journalSubmit {
    width: 85%;
    height: fit-content;
    margin: 5px 0 10px 30px;
    padding: 5px;
    background-color: #5465ff;
    color: white;
    border-radius: 15px;
    font-size: 1.5rem;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.journalSubmit:hover {
    background-color: #788bff;
}

.journalSubmit:active {
    transform: scale(0.9);
}

.journalSubmit {
    transition: background-color 0.3s ease, transform 0.3s ease;
}