@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Basic&family=Baumans&family=Doto:wght@100..900&family=Faculty+Glyphic&family=Merienda:wght@300..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Anta&family=Baumans&family=Doto:wght@100..900&family=Marmelad&family=Merienda:wght@300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.challengeContainer {
    padding-top: 10px;
    margin: 70px 0 50px 110px;
    width: 725px;
    min-height: 455px;
    background-color: hsla(0, 0%, 100%, 0.34);
    box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.challengeTitle {
    margin: 1rem;
    margin-bottom: 0px;
    color: #000;
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: bold;
    width: 90%;
}

.challengeNames {
    color: #000;
    font-family: "Raleway", serif;
    font-size: 0.5rem;
    font-weight: bold;
}

.enterChallenge {
    border: 5px;
    width: 550px;
    margin: 0px 0 0 10px;
}

.displayChallenge {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}


.displayChallenge::-webkit-scrollbar {
    width: 8px;

}

.displayChallenge::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #ccc;
}

ul {
    margin: 0 0 5px 15px;
    padding: 10px;
}

.listItems {
    display: flex;
    align-items: center;
    list-style: none;
}

.inputCheckbox {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    cursor: pointer;
    appearance: none;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 49%;
    background-color: transparent;
    padding: 2px;
}

.inputCheckbox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.inputCheckbox:checked::before {
    background-color: #E38A33;
}

.inputCheckbox:checked {
    border-color: #E38A33;
}

.challengeName {
    width: 550px;
    padding-bottom: 10px;
    color: #333333aa;
    font-family: 'Afacad', serif;
    font-size: 1.6rem;
}

.challengeName:first-child {
    margin-top: 10px;
}

.removeButton {
    margin: 5px;
    border-radius: 20px;
    width: 90px;
    height: 30px;
    font-family: 'Basic', serif;
    font-size: 15px;
    background-color: #89CFF0;
    border-radius: 15px;
    border: 1px solid #333;
}

.addChallenge {
    display: inline-block;
    margin: 10px 0px 5px 30px;
    border-radius: 20px;
    width: 120px;
    height: 45px;
    font-family: 'Basic', serif;
    font-size: 15px;
    background-color: hsla(51, 100%, 50%, 0.708);
    border: 1px solid #333;
}

.addChallenge:hover {
    background-color: hsla(51, 100%, 50%, 0.508);
}