@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Basic&family=Baumans&family=Doto:wght@100..900&family=Faculty+Glyphic&family=Merienda:wght@300..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Anta&family=Baumans&family=Doto:wght@100..900&family=Marmelad&family=Merienda:wght@300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.challengeContainer {
    padding-top: 10px;
    margin: 80px 0 0 110px;
    width: 725px;
    height: 530px;
    background-color: hsla(0, 0%, 100%, 0.34);
    box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.challengeTitle {
    margin: 1rem;
    margin-bottom: 0px;
    color: #000;
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: bold;
}

.displayChallenges {
    max-height: 400px;
    overflow-y: scroll;
}

.displayChallenges::-webkit-scrollbar {
    width: 8px;

}

.displayChallenges::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #ccc;
}

.challengeNames {
    color: #000;
    font-family: "Raleway", serif;
    font-size: 0.5rem;
    font-weight: bold;
}

.enterChallenge {
    border: 5px;
    width: 500px;
    margin: 0px 0 0 10px;
}

ul {
    margin: 0 0 5px 15px;
    padding: 0px;
}

.listItems {
    display: flex;
    display: inline;
    align-items: center;
    list-style: none;

}

.inputCheckbox {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    cursor: pointer;
    appearance: none;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 49%;
    background-color: transparent;
    padding: 2px;
    margin: 1rem 0.8rem 0 0;
}

.inputCheckbox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.inputCheckbox:checked::before {
    background-color: #E38A33;
}

.inputCheckbox:checked {
    border-color: #E38A33;
}

.challengeName {
    width: 500px;
    padding-bottom: 5px;
    color: #333333aa;
    font-family: 'Afacad', serif;
    font-size: 1.6rem;

}

.challengeName:first-child {
    margin-top: 10px;
}

.progressContainer {
    width: 95%;
    height: 25px;
    /* background-color: #ddd; */
    border-radius: 10px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: start;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.progressBar {
    height: 100%;
    background: linear-gradient(90deg, #ff6b6b, #ffa502, #2ed573, #1e90ff);
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite alternate, growWidth 0.8s ease-in-out;
    transition: width 0.5s ease-in-out;
    border-radius: 10px;
}

@keyframes growWidth {
    from {
        width: 0%;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.progressText {
    /* display: flex; */
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    z-index: 2;

}