* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 76px 0 20px 20px;
    padding: 10px 5px;
    width: fit-content;
    height: fit-content;
    background-color: hsla(0, 0%, 100%, 0.34);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.verticalLine {
    width: 2px;
    height: auto;
    background-color: #53515190;
    margin: 90px 10px 10px 30px;
}