.container {
    display: flex;
}

.pieChart {
    margin-top: 250px;
    margin-left: -170px;
    width: 600px;
}

.heading {
    margin-left: 0px;
    color: #555;
    margin-left: 270px;
    font-family: "Raleway";
    font-size: 1.4rem;
}

@media (max-width: 1200px) {
    .container {
        display: inline;

    }

    .pieChart {
        margin-left: 100px;
    }

    .heading {
        margin-left: 270px;
    }
}