@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Basic&family=Baumans&family=Doto:wght@100..900&family=Faculty+Glyphic&family=Merienda:wght@300..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Anta&family=Baumans&family=Doto:wght@100..900&family=Marmelad&family=Merienda:wght@300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #EBDFD7;
    border-radius: 20px;
    width: 800px;
    height: 500px;
    margin: 100px auto 70px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logoutButton,
.toggleButton {
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    width: 180px;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.logoutButton {
    background-color: #437bdc;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logoutButton:hover {
    background-color: #5a8ee8;
}

.toggleButton {
    background-color: #555;
    color: white;
}

.toggleButton:hover {
    background-color: #777;
}

.logoutIcon {
    width: 24px;
    height: 24px;
}